.notOpenCell,
.flag {
  background-color: #384c59;
  box-shadow: inset 1px -1px 0px #161e24, inset -1px 1px 0px #5a7a8e;
}
.notOpenCell:hover,
.flag:hover {
  cursor: pointer;
  background-color: #435662;
  box-shadow: inset 1px -1px 0px #161e24, inset -1px 1px 0px #ffc145;
}

.flag {
  background-image: url(./assets/flag.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.openCell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bomb {
  background-image: url(./assets/logo.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
