#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

@keyframes logo {
  0% {
    filter: drop-shadow(0 0 2em #fb6161aa);
  }
  50% {
    filter: drop-shadow(0 0 2em #fb61611d);
  }
  100% {
    filter: drop-shadow(0 0 2em #fb6161aa);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo infinite 5s ease-in-out;
  }
}

.form {
  display: flex;
  gap: 1rem;
}
